# Ignore everything in the lib folder
lib/
tools/
package.json
package-lock.json
out/
scripts/deploy-registry.ts
scripts/deploy-gateway.ts
.out/
artifacts/
cache/
cache_hardhat/
typechain/
.storage-layouts/
